<html>
    <head>
        <style>
            {{ .Stylesheet }}
        </style>
        <title>albumd - {{ .Content.AlbumName }}</title>
    </head>
    <body>
        <header>
            <span>{{ .Content.AlbumName }}</span>
        </header>
		
		
    </body>
</html>