<html>
    <head>
        <style>
            {{ .Stylesheet }}
        </style>
        <title>albumd - {{ .Content.AlbumName }}</title>
    </head>
    <body>
        <header>
            <span>{{ .Content.AlbumName }}</span>
        </header>
		
        <ul>
		{{ range .Content.ServableImages }}
            <li>
                <a href="/original/{{ .OriginalPath }}" target="_blank" rel="noopener noreferrer" title="{{ .Description }}">
                    <img src="/thumbs/{{ .ThumbPath }}" />
                </a>
            </li>
        {{ end }}
        </ul>
    </body>
</html>