<html>
    <head>
        <style>
            {{ .Stylesheet }}
        </style>
        <title>albumd - {{ .Content.AlbumName }}</title>
    </head>
    <body>
        <header>
            <span>{{ .Content.AlbumName }}</span>
        </header>
		
        <ul>
		{{ range .Content.Thumbs }}
            <li>
                <img src="/{{ . }}" />
            </li>
        {{ end }}
        </ul>
    </body>
</html>