<html>
    <head>
        <style>
            {{ .Stylesheet }}
        </style>
        <title>albumd</title>
    </head>
    <body>
        <header>
            <span>albumd</span>
        </header>
		
		<span>Navigate to a specific album.</span>
    </body>
</html>